* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%; /* 100%, 100vw*/
  margin: 0 auto;
  padding-block: 30px;
}

.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-right: 2px solid #d5cece;
}

.navigation ul li {
  padding-inline: 12px;
}

.navigation a {
  text-decoration: none;
  color: #000;
}

.assistance {
  display: flex;
}

.assistance .text {
  padding-inline: 10px;
}

/* .hero-section,
.hero-area {
  width: 100%;
} */

.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area h1 {
  font-size: 70px;
}

.text-area {
  max-width: 45%;
}

.image-area {
  max-width: 55%;
}

.image-area img {
  width: 100%;
  height: 500px;
}
